# Global snippets

# (c) holds no legal value ;)
snippet c)
	Copyright (C) `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet me
	`g:snip_author` (`g:snip_mail`)
